<launch>
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find dog_leg)/URDF/leg2.xacro'"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <node name="rviz" pkg="rviz" type="rviz" args=" -d $(find dog_leg)/launch/config.rviz" />
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui">
    <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" > -->
        <param name="use_gui" value="True"/>
    </node>
</launch>